<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>
      <%= flash[:notice] %>
    </h2>
    <h2>Please login here:</h2>
    <form action="/session" method="post">
      <ul>
      <li><input type="text" name="email" placeholder="Email Address"></li>
      <li><input type="password" name="password" placeholder="Password"></li>
      <li><input type="submit" name="login" value="Login"></li>
      </ul>
    </form>
  </body>
</html>
