<form action='/listings' method='post'>
  <ul>
    <li>
      <label for="title">Listing Title: </label>
      <input type='text' name='title'/>
    </li>
    <br>
    <li>
      <label for="location">Location: </label>
      <input type='text' name='location' placeholder="Location"/>
    </li>
    <br>
    <li>
      <label for="price">Price per Night: </label>
    <input type='text' name='price'/>
    </li>
    <br>
    <li>
      <label for="rooms">No. of Rooms: </label>
    <input type='text' name='rooms'/>
    </li>
    <br>
    <li>
      <label for="description">Description: </label>
      <input type='text' name='description'/>
    </li>
    <br>
    <li>
      <input type='submit' value='Add'/>
    </li>
  </ul>


  </form>
