Welcome to Makers BnB
<% if !!session[:id] %>
<div class="logout-div" style="float: right; margin-right: 20px; margin-top: 20px;">
  <form class="" action="/session/<%= session[:id] %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="logout" value="Log out" style="width: 90px; height: 40px;">
  </form>
</div>
<% end %>
<h2>
  <%= flash[:user] %>
  <%= flash[:logout] %>
</h2>

<form action='/listings' method='get'>
  <input type='submit' name='See Listings' value="See Listings">
</form>
<form action="/options/login">
  <input type="hidden" name="from" value="/">
  <input type="submit" name="login" value="Login">
</form>
<form action="/options/login">
<input type="submit" name="sign_up" value="Sign Up">
</form>

<!-- <form action='/create_listings' method='get'>
  <input type='submit' name='Submit'>
</form> -->
