Welcome to Makers BnB

<form action='/listings' method='get'>
  <input type='submit' name='See Listings' value="See Listings">
</form>

<!-- <form action='/create_listings' method='get'>
  <input type='submit' name='Submit'>
</form> -->
