<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/hey.css">
    <link href="https://fonts.googleapis.com/css2?family=Turret+Road:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
      <h1> Welcome to Banana's Bnb! </h1>



      <% if !!session[:id] %>
      <div class="logout-div" style="float: right; margin-right: 20px; margin-top: 20px;">
        <form class="" action="/session/<%= session[:id] %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" name="logout" value="Log out" style="width: 90px; height: 40px;">
        </form>
      </div>
      <% end %>

    <h2>
      <%= flash[:user] %>
      <%= flash[:logout] %>
    </h2>



        <form action='/listings' method='get'>
          <input type='submit' name='See Listings' value="See all Listings">
        </form>
        <br>


        <form action="/options/login">
          <input type="hidden" name="from" value="/">
          <input type="submit" name="login" value="Login Or Sign Up">
        </form>


    <!-- <form action='/create_listings' method='get'>
      <input type='submit' name='Submit'>
    </form> -->

  </body>
</html>
